* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    color: #333;
    background-color: #fff;
}

header {
    font-size: 0.8rem;
    text-align: center;
    color: #3a3ab8;
}

main {
    background-color: #cecccc;
    padding: 1.5rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
}

form {
    display: grid;
    gap: 5px;
    font-weight: bold;

}

label {
    margin-top: 10px;
    font-size: 0.8rem;

}

input,
textarea,
select,
button {
    padding: 5px 10px;
}

pre {
    background-color: #222;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-family: consolas, 'Courier New', Courier, monospace;
    margin: 5px auto;
    width: 150px;
    overflow: auto;
    align-items: center;

}

code {
    font-size: 12px;

}

button {
    margin: 1rem auto 1px;
    background-color: #3a3ab8;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 0.8rem;
    width: 140px;
    display: block;
    align-items: center;

}

button:hover {
    background-color: darkgreen;
}